#space {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/background-5.png"),
    url("/space/images/background-4.png"),
    url("/space/images/background-3.png"),
    url("/space/images/background-2.png"),
    url("/space/images/background-1.png");
    background-repeat: repeat;
    background-position: center;
    background-position: 50% 50%;
}

#text {
    height: 150px;
    width: 100%;
    line-height: 150px;
    letter-spacing: 20px;
    text-align: center;
    //background-color: rgba($color: #a31275, $alpha: .3);
    //mix-blend-mode: luminosity;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    animation: spaceText 5s ease-in-out alternate infinite;
}

@keyframes spaceText {
    from { letter-spacing: 20px; }
    to { letter-spacing: 60px;}
}

.spaceHeader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}