#mainNavigation {
  z-index: 1;
  height: 64px;
  width: 100vw;
  position: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding-top: 15px;
  padding-left: 30px;
}

.navElements {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navElements a {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: #687081;
}

.navElements a:hover {
  text-decoration: underline;
  color: #852e77;
}

a.activeLink {
  color: #010e27;
}

#space {
  width: 100vw;
  height: 100vh;
  background-image: url("/space/images/background-5.png"), url("/space/images/background-4.png"), url("/space/images/background-3.png"), url("/space/images/background-2.png"), url("/space/images/background-1.png");
  background-repeat: repeat;
  background-position: center;
}

.scroll-container,
.scroll-area {
  max-width: 100vw;
  height: 100vh;
}

.scroll-container {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

.scroll-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

/*-------------Home Page CSS-------------*/
.spaceHeader {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#text {
  height: 150px;
  width: 100%;
  line-height: 150px;
  letter-spacing: 15px;
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  -webkit-animation: spaceText 5s ease-in-out alternate infinite;
          animation: spaceText 5s ease-in-out alternate infinite;
}

@-webkit-keyframes spaceText {
  from {
    letter-spacing: 20px;
  }
  to {
    letter-spacing: 40px;
  }
}

@keyframes spaceText {
  from {
    letter-spacing: 20px;
  }
  to {
    letter-spacing: 40px;
  }
}

.earth {
  position: relative;
  top: -400px;
  left: -250px;
  width: 250px;
  height: 250px;
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(2px, 8px);
            transform: translate(2px, 8px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(2px, 8px);
            transform: translate(2px, 8px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
/*# sourceMappingURL=styles.css.map */