.background1 {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/background-1.png");
    background-position: center;

    .background2 {
        width: 100vw;
        height: 100vh;
        background-image: url("/images/background-2.png");
        background-position: center;

        .background3 {
            width: 100vw;
            height: 100vh;
            background-image: url("/images/background-3.png");
            background-position: center;

            .background4 {
                width: 100vw;
                height: 100vh;
                background-image: url("/images/background-4.png");
                background-position: center;

                .background5 {
                    width: 100vw;
                    height: 100vh;
                    background-image: url("/images/background-5.png");
                    background-position: center;
                }
            }
        }
    }
}